.info__list {
  display: flex;
  column-gap: 32px;
  font-size: 0;
}

.info__card {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.info__img {
  width: 640px;
  height: 360px;
  border-radius: 16px;
}

.info__labels {
  height: 36px;
  text-align: center;
  position: absolute;
  top: 32px;
  left: 32px;
  padding: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.6);
}

.info__discount {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
}

.info__title {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  z-index: 2;
  color: var(--color-white);
}

.info__item {
  width: 640px;
  height: 360px;
}

.info__card::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

img {
  display: block;
}

